<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p id="notice"><%= notice %></p>
      <div class="thumbnail">
        <div class="caption">
          <h1 class="text-center text-color tittle"><%= @post.title %></h1>
          <h4 class="text-center text-color"><%= "Publicado por #{User.find(@post.user_id).email.split('@')[0]} hace aproximadamente #{time_ago_in_words(@post.created_at)}" %></h4>
          <p class="text-color content"><%= markdown("#{@post.content_post}") %></p>
        </div>
      </div>
      <% if user_signed_in? %>
        <%= form_for(@comment) do |f| %>
          <%= hidden_field_tag "comment[post_id]", @post.id %>
          <%= hidden_field_tag "comment[user_id]", current_user.id %>
          <div class="form-group">
            <%= f.label :comment_content %>
            <%= f.text_area :comment_content, class:"form-control" %>
          </div>
          <div class="actions">
            <%= f.submit 'Comentar', class: 'btn btn-success' %>
          </div>
        <% end %>
      <% end %>
      <% @post.comments.each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= "#{User.find(comment.user_id).email.split('@')[0]} Comentó hace aproximadamente #{time_ago_in_words(comment.created_at)}" %></h3>
          </div>
          <div class="panel-body">
            <p><%= markdown(comment.comment_content) %></p>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
